#index-body {
    background-color: #16448c;
    width: 100%
}


#recipe-container {
    max-width: 50%;
    min-height: 650px;
    max-height: 650px;
    margin: 10rem auto 0 ;
    border: 10px solid #f09929;
    border-radius: 10px;
    background-color: #34d2eb;
}

#recipe-container h1 {
    margin-top: 4em;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    text-align: center;
    text-decoration: underline;
}

#recipe-container ul {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 0;
    list-style: none;
    max-width: 70%;
}

#recipe-container a {
    text-align: center;
    list-style: none;
    color: white;
    font-family: 'Secular One', sans-serif;
    background: #16448c;
    border: 2px solid #16448c;
    border-radius: 10px;
    height: 3rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

#recipe-container a:hover {
    color: #16448c;
    padding: 10px 0;
    background: #f09929;
    border-color: #f09929;
    font-size: 2em;
}
