body { 
    max-width: 70%;
    margin: 0 auto;
    background-color: #16448c;
    color: white;
    font-family: 'Fjalla One', sans-serif;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #f09929;
}

h2 {
    color: #f09929;
    margin-bottom: -12px;
}


img {
    margin: 0 10%;
    width:80%;

}


#description {
    font-size: 1.1em;
    line-height: 160%;
    margin-bottom: 80px;
}


.border {
    font-size: 1.2em;
    padding: 5px 20px;
    border: 5px solid white;
    border-radius: 10px;
    line-height: 180%;
}